{% extends 'admin/common/base.html' %}

{% block title %}
    文章编辑 - 北枫小站
{% endblock %}

{% block main_title %}
    文章编辑
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='editor/latest/toastui-editor.min.css') }}">
    <script type="text/javascript"
            src="{{ url_for('admin.static', filename='editor/latest/toastui-editor-all.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('admin.static', filename='editor/latest/zh-cn.js') }}"></script>
{% endblock %}

{% block content %}
    <form class="layui-form head_form" lay-filter="filter-test-layer">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md9">
                <input type="text" name="post_title" value="" placeholder="请输入文章标题" lay-verify="required"
                       lay-reqtext="请输入文章标题" lay-affix="clear" class="layui-input">
            </div>
            <div class="layui-col-md1">
                <select name="category" lay-filter="category-select-filter">
                    <option value="">选择分类</option>
                    {% for category in category_list %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="layui-col-md2">
                <div class="header_btn">
                    <button type="button" lay-filter="saveDraft" lay-submit class="layui-btn">保存草稿</button>
                    <button type="button" lay-on="test-page-custom" class="layui-btn layui-bg-blue">发布文章</button>
                </div>
            </div>
        </div>
    </form>
    <div id="editor"></div>
    <script type="text/html" id="post-template">
        <form class="layui-form" style="margin: 16px;">
            <div class="layui-form-item">
                <label class="layui-form-label">标签(非必填)</label>
                <div class="layui-input-block">
                    {% for tag in tag_list %}
                        <input type="checkbox" name="{{ tag.id }}" title="{{ tag.name }}">
                    {% endfor %}
                </div>
            </div>

            <div style="display: flex;justify-content: flex-end; padding:0 30px 30px 0">
                <button type="button" lay-filter="publish" lay-submit class="layui-btn layui-bg-blue">发布文章</button>
            </div>
        </form>
    </script>
{% endblock %}

{% block script %}
    <script>
        layui.use(() => {
            let $ = layui.$;
            let layer = layui.layer;
            let util = layui.util;
            let form = layui.form;


            let editor = new toastui.Editor({
                el: document.querySelector('#editor'),
                initialEditType: 'markdown', // 初始编辑类型，这里是 Markdown
                previewStyle: 'vertical', // 预览样式，可以是 'tab', 'vertical'
                height: '700px', // 编辑器高度,
                language: 'zh-CN',   // 设置语言为中文

                hooks: {
                    addImageBlobHook: (blob, callback) => {
                        uploadImage(blob, function (imageUrl) {
                            callback(imageUrl); // 将链接传递给编辑器
                        }, function (error) {
                            console.error('图片上传失败：', error);
                        });
                    },
                }
            });

            function uploadImage(imageBlob, successCallback, errorCallback) {
                // 实现图片上传逻辑，使用 jQuery 的 AJAX
                $.ajax({
                    url: '{{ url_for('admin.upload') }}',
                    type: 'POST',
                    data: imageBlob,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (data.url !== '') {
                            successCallback(data.url);
                        } else {
                            errorCallback('图片上传失败');
                        }
                    },
                    error: function () {
                        errorCallback('图片上传失败');
                    }
                });
            }


            util.on('lay-on', {
                'test-page-custom': () => {
                    // 判断是否输入了文章标题
                    let title = form.val('filter-test-layer').post_title
                    if (title.trim() === '') {
                        layer.msg('请输入文章标题', {icon: 7, time: 1500, anim: 6});
                        return;
                    }
                    layer.open({
                        type: 1,
                        area: ['600px', 'auto'],
                        resize: false,
                        shadeClose: true,
                        title: '发布文章',
                        offset: 'auto',
                        content: $('#post-template').html(),
                        success: function () {
                            // 对弹层中的表单进行初始化渲染
                            form.render();
                            form.on('submit(publish)', function (data) {
                                let tags = data.field;
                                let category = form.val('filter-test-layer').category || "{{ category_list[0].id }}";
                                let html = editor.getHTML()
                                let markdown = editor.getMarkdown()
                                let form_data = {
                                    title: title,
                                    category: category,
                                    tags: JSON.stringify(tags),
                                    html: html,
                                    markdown: markdown,
                                }
                                $.post('{{ url_for('admin.post_add') }}', form_data, (res) => {
                                        if (res === 'success') {
                                            layer.close(1, () => {
                                                layer.msg('保存成功', {icon: 1, time: 1500}, () => {
                                                    window.location.href = '{{ url_for('admin.post') }}';
                                                });
                                            });
                                        }
                                    }
                                )
                                return false; // 阻止默认 form 跳转
                            });
                        }
                    })
                }
            })


            // 监听保存草稿按钮点击事件
            form.on('submit(saveDraft)', (data) => {
                console.log('保存草稿')
                return false;   // 阻止表单跳转
            })


        })

    </script>
{% endblock script %}
