{% extends 'admin/common/base.html' %}
{% block title %}
    文章管理 - 北枫小站
{% endblock %}
{% block main_title %}
    文章管理
{% endblock %}
{% block content %}
    <div class="layui-container">
        <a class="button layui-btn" href="{{ url_for('admin.editor_post') }}">新增文章</a>
        <table class="layui-hide" id="ID-table-demo-data"></table>
    </div>
{% endblock %}
{% block script %}
    <script>
        layui.use('table', function () {
            let table = layui.table;
            let $ = layui.$;
            let layer = layui.layer;
            let util = layui.util;


            // 已知数据渲染
            let inst = table.render({
                elem: '#ID-table-demo-data',
                url: '{{ url_for("admin.post_query") }}',
                cols: [[ //标题栏
                    {field: 'id', title: '序号', width: 120, sort: true, align: 'center'},
                    {field: 'title', title: '文章标题', width: '', align: 'center'},
                    {field: 'read_count', title: '阅读次数', width: 180, align: 'center'},
                    {field: 'category', title: '文章分类', width: 180, align: 'center'},
                    {field: 'add_time', title: '创建时间', width: 180, align: 'center'},
                    {field: 'upd_time', title: '修改时间', width: 180, align: 'center'}
                ]],
                page: true, // 是否显示分页
                limits: [10, 20, 30],
                limit: 10 // 每页默认显示的数量
            });

            inst.resize();
            inst.setColsWidth();
        });
    </script>
{% endblock %}