body {
    background: #f8f8f8;
    font-family: "Apple LiGothic Medium,Microsoft YaHei", "微软雅黑", "Arial", sans-serif;
    font-size: 14px;
    color: #4e4e4e;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    line-height: 1.8em;
    position: relative;
    min-height: 100vh;
}

body::after {
    content: '';
    height: 60px; /* .footer 的高度 */
    display: block;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(196, 196, 196, 0.7);
}

/* ------------ layui重写 ------------ */

@media screen and (min-width: 1400px) {
    .layui-container {
        width: 1170px !important;
    }
}


/* ------------ 头部样式 ------------ */
.header {
    width: 100%;
    height: 60px;
    position: relative;
    background-color: #227eaa;
    z-index: 1000;
    margin-bottom: 15px;
}

/* header区域字体颜色 */
.header * {
    color: #FFF !important;
}

.header .logopic {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.header .logopic img {
    max-width: 100%;
    max-height: 100%;
}

.header .logo {
    display: inline-block;
    padding: 15px 10px;
}

/*清除导航原背景颜色*/
.header .layui-nav {
    background: none;
}

/*清除导航项选中后的绿条标记*/
.header .layui-nav .layui-this:after {
    content: none;
}

/*导航项鼠标悬停颜色*/
.header .layui-nav .layui-nav-item a:hover {
    color: #12caea !important;
}

/* ------------ 底部样式 ------------ */
.footer {
    width: 100%;
    height: 30px;
    padding: 16px 0;
    color: #FFF;
    background-color: #227eaa;
    text-align: center;
    margin-top: 15px;
    position: absolute;
    bottom: 0;
}


/* ------------ 侧边栏样式 ------------ */

/* --- 输入框样式 --- */
.side-search {
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    min-height: 40px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.side-search .layui-input {
    width: 183px;
    height: 30px;
    margin-right: 5px;
    border-radius: 4px;
}

.side-avata {
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 8px;
    min-height: 100px;
    position: relative;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.side-avata-bg {
    margin: 0;
    padding: 0;
    width: 100%;
}

.side-avata-bg img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 150px;
    border-radius: 8px;
}

#adminlogin {
    display: inline-block;
    position: absolute;
    top: 112px;
    left: 34%;
}

#adminlogin img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 4px solid rgba(220, 195, 195, 0.4);
    transition: transform 0.75s;
}

#adminlogin :hover {
    transform: rotate(360deg);
}

.side-avata .nickname {
    margin-top: 50px;
    text-align: center;
    color: #666;
    font-size: 16px;
}

.side-avata .link {
    text-align: center;
}

.side-avata .link a {
    display: inline-block;
    padding: 10px 20px;
    color: #666;
}

/* --- 公共标题样式 --- */
.side-title {
    border-bottom: 1px solid #eee;
    width: 100%;
    color: #666;
    padding-bottom: 8px;
    margin-bottom: 8px;
    overflow: hidden;
    font-weight: 400;
}

/* --- 文章分类样式 --- */
.side-categorys {
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 8px;
    overflow: hidden;
    min-height: 100px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.side-categorys ul {
    overflow: hidden;
}

.side-categorys ul li {
    padding: 5px 0;
}

.side-categorys ul span {
    float: right;
}

/* --- 最新文章样式 --- */
.side-newposts {
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 8px;
    overflow: hidden;
    min-height: 100px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.side-newposts a {
    word-break: break-all;
}

/* --- 文章标签样式 --- */
.side-tags {
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    overflow: hidden;
    min-height: 100px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.side-tags div a {
    margin: 0 0 5px 0 !important;
    white-space: nowrap; /*文本不换行*/
    text-overflow: ellipsis;
    overflow: hidden
}


/* ------------ content内容样式 ------------ */
/*content样式*/
.post-card {
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    min-height: 100px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    word-break: break-all;
}

/*文章标题颜色*/
.post-card h2 {
    color: #227eaa;
    padding: 10px 0;
    word-break: break-all;
}

/*阅读全文链接颜色*/
.post-card .detail, .category {
    color: #2a97cbcf;
}

.post-msg {
    padding: 10px 5px 7px;
}

.post-msg > span {
    padding-right: 25px;
}

.post-msg .post-info, i {
    color: #b9a8a8;
}

.post-msg .author {
    color: #909399;
}

.clamp-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/* ------------ 文章详情页内容样式 ------------ */
/*正文页标题*/
.post-title {
    padding: 10px 5px;
}

/*正文页文章正文部分*/
.post-content {
    padding: 10px 5px;
    font-size: 15px;
}

/*恢复默认ul,ol样式（layui默认将该样式清除了）*/
.post-content ul, .post-content ol {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

/*显示li小圆点（layui默认将该样式清除了）*/
.post-content li {
    list-style: unset;
}

/*正文页文章正文图片样式*/
.post-content img {
    max-width: 100%;
    max-height: 100%;
    margin: 10px 0;
    border-radius: 4px;
}


/*正文页文章正文各级标题样式*/
.post-content h1, .post-content h3 {
    line-height: 2.5em;
    color: #404040;
    word-break: break-all;
}

.post-content h3 {
    font-size: 20px;
}

.post-content h4 {
    line-height: 2em;
    font-size: 17px;
    color: #1E9FFF;
}

.post-content h2 {
    font-size: 24px;
    line-height: 2em;
    margin: 18px 0;
    color: #404040;
    border-bottom: 1px solid rgb(216, 222, 228);
    padding: 0;
}

.post-content h5, .post-content h6 {
    line-height: 2em;
    font-size: 15px;
    color: #f6886d;
}

.post-content a {
    color: #227eaa;
}

/* 引用标签css */
.post-content blockquote {
    padding: 0 1em;
    color: rgb(101, 109, 118);
    border-left: 0.25em solid rgb(208, 215, 222);
    margin-bottom: 16px;
}

/* 文章底部 */
.post-tag {
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.post-tag div {
    margin-right: 60px;
    padding: 8px 0;
}

.post-tag a {
    color: #096ec3cf;
}

.post-tag span {
    color: #b9a8a8;
}


/* ------------ 评论发送内容样式 ------------ */
.comment, .comment-list {
    background-color: #fff;
    box-sizing: border-box;
    padding: 5px 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    min-height: 100px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

/*留言页标题样式*/
.comment .comment-title {
    text-align: center;
}

/*留言内容样式*/
.comment .comment-edit {
    padding: 0 18px;
    border-radius: 8px;
}

.comment .comment-edit h3 {
    margin: 20px 0;
    font-weight: 500;
}

/*留言列表底部间距*/
.comment .comment-item li {
    margin-bottom: 20px;
}


.comment-send {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.comment-send h3 {
    position: relative;
    padding-left: 1.2em;
    font-size: 15px;
}

.comment-send h3:before {
    position: absolute;
    content: '';
    width: 4px;
    background: #627bf5;
    top: 10%;
    left: 2px;
    bottom: 10%;
    border-radius: 5px;
    box-shadow: 1px 1px 3px -1px #627bf5;
}


/* ------------ 评论列表样式 ------------ */
.comment-list .message-item {
    margin: 15px 0;
}

.comment-list .message-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 3px;
    border: 1px solid #dfedff;
}

.comment-list .list_bottom {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.comment-list .list_bottom span {
    margin-right: 12px;
    color: #999;
}

.comment-list .message-item li {
    margin-bottom: 10px;
}


/* ------------ 评论回复盒子样式 ------------ */
.comment-reply {
    padding-right: 60px;
}

.comment-reply input {
    margin-right: 15px;
}

.comment-reply .layui-col-md3 {
    display: flex;
    justify-content: space-between;
}

.comment-reply button {
    width: 45%;
}


/* ------------ 归档页面样式 ------------ */
.record-list {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.record-list p a {
    margin: 10px 5px;
    font-weight: 550;
    font-size: 16px;
}

.record-list li {
    margin: 5px 25px;
}

.record-list li a {
    color: #227eaa;
}





