body {
    background: #f8f8f8;
    font-family: "Apple LiGothic Medium,Microsoft YaHei", "微软雅黑", "Arial", sans-serif;
    font-size: 14px;
    color: #4e4e4e;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    line-height: 1.8em;
}

/* ------------ 头部样式 ------------ */
.header {
    width: 100%;
    height: 60px;
    position: relative;
    background-color: #227eaa;
    z-index: 1000;
}

/* header区域字体颜色 */
.header * {
    color: #FFF !important;
}

.header .logopic {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.header .logopic img {
    max-width: 100%;
    max-height: 100%;
}

.header .logo {
    display: inline-block;
    padding: 15px 10px;
}

/*清除导航原背景颜色*/
.header .layui-nav{
    background: none;
}

/*清除导航项选中后的绿条标记*/
.header .layui-nav .layui-this:after {
    content: none;
}

/*导航项鼠标悬停颜色*/
.header .layui-nav .layui-nav-item a:hover {
    color: #12caea !important;
}

/* ------------ 底部样式 ------------ */
.footer {
    width: 100%;
    height: 50px;
    padding: 16px;
    color: #FFF;
    background-color: #227eaa;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    bottom: 0;
}
