{% extends 'common/base.html' %}

{% block content %}
    <div class="layui-container">
        <div class="layui-row layui-col-space15">
            {# 中心区内容 #}
            <div class="layui-col-md9">
                <div class="post-card">
                    <h2>Flask+Layui博客实战</h2>
                    <p>主要特点 支持markdown 支持短笔记 响应式布局，移动终端显示友好 部署迁移便捷 二、开发环境
                        Web框架：python flask 前端框架：layui 数据库：Mysql markdown支持: editor.md 代码高亮：highlight.js
                        部署环境：centos 8.2 三、博客前台 （一）主体内容区 1. 首页 以列表的形式展示文章标题...</p>
                    <div class="post-msg">
                        <span>
                            <i class="layui-icon">&#xe612;</i>
                            <span class="author">枫_Sir</span>
                        </span>
                        <span>
                            <i class="layui-icon">&#xe705;</i>
                            <a href="#" class="category">默认分类</a>
                        </span>
                        <span>
                            <i class="layui-icon">&#xe68d;</i>
                            <span class="post-info">2023-11-25</span>
                        </span>
                        <span>
                            <i class="layui-icon">&#xe62c;</i>
                            <span class="post-info">152</span>
                        </span>
                        <span>
                            <a href="#" class="detail">阅读全文</a>
                        </span>
                    </div>
                </div>

                <div class="post-card">
                    <h2>Flask+Layui博客实战</h2>
                    <p>主要特点 支持markdown 支持短笔记 响应式布局，移动终端显示友好 部署迁移便捷 二、开发环境
                        Web框架：python flask 前端框架：layui 数据库：Mysql markdown支持: editor.md 代码高亮：highlight.js
                        部署环境：centos 8.2 三、博客前台 （一）主体内容区 1. 首页 以列表的形式展示文章标题...</p>
                    <div class="post-msg">
                        <span>
                            <i class="layui-icon">&#xe612;</i>
                            <span class="author">枫_Sir</span>
                        </span>
                        <span>
                            <i class="layui-icon">&#xe705;</i>
                            <a href="#" class="category">默认分类</a>
                        </span>
                        <span>
                            <i class="layui-icon">&#xe68d;</i>
                            <span class="post-info">2023-11-25</span>
                        </span>
                        <span>
                            <i class="layui-icon">&#xe62c;</i>
                            <span class="post-info">152</span>
                        </span>
                        <span>
                            <a href="#" class="detail">阅读全文</a>
                        </span>
                    </div>
                </div>

                <div class="post-card">
                    <h2>Flask+Layui博客实战</h2>
                    <p>主要特点 支持markdown 支持短笔记 响应式布局，移动终端显示友好 部署迁移便捷 二、开发环境
                        Web框架：python flask 前端框架：layui 数据库：Mysql markdown支持: editor.md 代码高亮：highlight.js
                        部署环境：centos 8.2 三、博客前台 （一）主体内容区 1. 首页 以列表的形式展示文章标题...</p>
                    <div class="post-msg">
                        <span>
                            <i class="layui-icon">&#xe612;</i>
                            <span class="author">枫_Sir</span>
                        </span>
                        <span>
                            <i class="layui-icon">&#xe705;</i>
                            <a href="#" class="category">默认分类</a>
                        </span>
                        <span>
                            <i class="layui-icon">&#xe68d;</i>
                            <span class="post-info">2023-11-25</span>
                        </span>
                        <span>
                            <i class="layui-icon">&#xe62c;</i>
                            <span class="post-info">152</span>
                        </span>
                        <span>
                            <a href="#" class="detail">阅读全文</a>
                        </span>
                    </div>
                </div>

                <div class="post-card">
                    <h2>Flask+Layui博客实战</h2>
                    <p>主要特点 支持markdown 支持短笔记 响应式布局，移动终端显示友好 部署迁移便捷 二、开发环境
                        Web框架：python flask 前端框架：layui 数据库：Mysql markdown支持: editor.md 代码高亮：highlight.js
                        部署环境：centos 8.2 三、博客前台 （一）主体内容区 1. 首页 以列表的形式展示文章标题...</p>
                    <div class="post-msg">
                        <span>
                            <i class="layui-icon">&#xe612;</i>
                            <span class="author">枫_Sir</span>
                        </span>
                        <span>
                            <i class="layui-icon">&#xe705;</i>
                            <a href="#" class="category">默认分类</a>
                        </span>
                        <span>
                            <i class="layui-icon">&#xe68d;</i>
                            <span class="post-info">2023-11-25</span>
                        </span>
                        <span>
                            <i class="layui-icon">&#xe62c;</i>
                            <span class="post-info">152</span>
                        </span>
                        <span>
                            <a href="#" class="detail">阅读全文</a>
                        </span>
                    </div>
                </div>
                <div class="post-card">
                    <h2>Flask+Layui博客实战</h2>
                    <p>主要特点 支持markdown 支持短笔记 响应式布局，移动终端显示友好 部署迁移便捷 二、开发环境
                        Web框架：python flask 前端框架：layui 数据库：Mysql markdown支持: editor.md 代码高亮：highlight.js
                        部署环境：centos 8.2 三、博客前台 （一）主体内容区 1. 首页 以列表的形式展示文章标题...</p>
                    <div class="post-msg">
                        <span>
                            <i class="layui-icon">&#xe612;</i>
                            <span class="author">枫_Sir</span>
                        </span>
                        <span>
                            <i class="layui-icon">&#xe705;</i>
                            <a href="#" class="category">默认分类</a>
                        </span>
                        <span>
                            <i class="layui-icon">&#xe68d;</i>
                            <span class="post-info">2023-11-25</span>
                        </span>
                        <span>
                            <i class="layui-icon">&#xe62c;</i>
                            <span class="post-info">152</span>
                        </span>
                        <span>
                            <a href="#" class="detail">阅读全文</a>
                        </span>
                    </div>
                </div>
                <div class="post-card">
                    <h2>Flask+Layui博客实战</h2>
                    <p>主要特点 支持markdown 支持短笔记 响应式布局，移动终端显示友好 部署迁移便捷 二、开发环境
                        Web框架：python flask 前端框架：layui 数据库：Mysql markdown支持: editor.md 代码高亮：highlight.js
                        部署环境：centos 8.2 三、博客前台 （一）主体内容区 1. 首页 以列表的形式展示文章标题...</p>
                    <div class="post-msg">
                        <span>
                            <i class="layui-icon">&#xe612;</i>
                            <span class="author">枫_Sir</span>
                        </span>
                        <span>
                            <i class="layui-icon">&#xe705;</i>
                            <a href="#" class="category">默认分类</a>
                        </span>
                        <span>
                            <i class="layui-icon">&#xe68d;</i>
                            <span class="post-info">2023-11-25</span>
                        </span>
                        <span>
                            <i class="layui-icon">&#xe62c;</i>
                            <span class="post-info">152</span>
                        </span>
                        <span>
                            <a href="#" class="detail">阅读全文</a>
                        </span>
                    </div>
                </div>


            </div>
            {# 右边侧边栏 #}
            <div class="layui-col-md3">
                {% include 'common/sidebar.html' %}
            </div>
        </div>
    </div>
{% endblock %}


