<div class="side-categorys">
    <h3 class="side-title">
        <i class="layui-icon">&#xe705;</i>
        文章分类
    </h3>
    <ul class="layui-row layui-col-space5">
        <li class="layui-col-md12 layui-col-xs6">
            <i class="layui-icon">&#xe60a;</i>
            默认分类
            <span class="layui-badge layui-bg-gray">2</span>
        </li>
        <li class="layui-col-md12 layui-col-xs6">
            <i class="layui-icon">&#xe60a;</i>
            Linux
            <span class="layui-badge layui-bg-gray">3</span>
        </li>
        <li class="layui-col-md12 layui-col-xs6">
            <i class="layui-icon">&#xe60a;</i>
            Flask
            <span class="layui-badge layui-bg-gray">1</span>
        </li>
    </ul>
</div>