<div class="side-avata layui-hide-xs">
    <div class="side-avata-bg">
        <img src="{{ url_for('blog.static', filename='imgs/bing_bg.jpg') }}" alt="">
    </div>
    <span id="adminlogin">
        <img class="layui-anim" src="{{ url_for('blog.static', filename='imgs/avata.jpg') }}" alt="">
    </span>
    <div class="nickname">
        <p>枫&nbsp;Sir</p>
    </div>
    <div class="link">
        <a href="https://github.com/BioYue" target="_blank">Github</a>
        <a href="https://mail.163.com/" target="_blank">Email</a>
    </div>
</div>