<div class="side-tags">
    <h3 class="side-title">
        <i class="layui-icon">&#xe674;</i>
        文章标签
    </h3>
    <div>
        <a class="layui-btn layui-btn-xs layui-btn-primary" href="#" style="color: #12caea">ubuntu</a>
        <a class="layui-btn layui-btn-xs layui-btn-primary" href="#" style="color: #f39b12">docker</a>
        <a class="layui-btn layui-btn-xs layui-btn-primary" href="#" style="color: #ff5722">git</a>
        <a class="layui-btn layui-btn-xs layui-btn-primary" href="#" style="color: #eb7350">html</a>
        <a class="layui-btn layui-btn-xs layui-btn-primary" href="#" style="color: #009f95">微信小程序</a>
    </div>
</div>