<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BF-Blog</title>
    <link rel="stylesheet" href="{{ url_for('blog.static', filename='layui/css/layui.css') }}">
    <link rel="stylesheet" href="{{ url_for('blog.static', filename='css/main.css') }}">
    <script type="text/javascript" src="{{ url_for('blog.static', filename='layui/layui.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body>
<script type="text/javascript" src="{{ url_for('blog.static', filename='js/canvas-nest.js') }}" color="18,214,120"
        opacity="0.7" count="200"></script>
{% block body %}
    {% block header %}
        <header class="header">
            {#    layui-container自适应比例固定宽度    #}
            <div class="layui-container">
                <div class="logopic">
                    <a href="/">
                        <img src="{{ url_for('blog.static',filename='imgs/logo.png') }}" alt="">
                    </a>
                    <h2>枫Sir小站</h2>
                    <span>天青色等烟雨 而我在等你</span>
                </div>

                <ul class="layui-nav layui-layout-right">
                    <li class="layui-nav-item layui-hide-xs">
                        <a href="/">首页</a>
                    </li>
                    <li class="layui-nav-item layui-hide-xs">
                        <a href="{{ url_for('blog.record') }}">归档</a>
                    </li>
                    <li class="layui-nav-item layui-hide-xs">
                        <a href="{{ url_for('blog.note') }}">笔记</a>
                    </li>
                    <li class="layui-nav-item layui-hide-xs">
                        <a href="{{ url_for('blog.message') }}">留言</a>
                    </li>
                    <li class="layui-nav-item layui-hide-xs">
                        <a href="{{ url_for('blog.about') }}">关于</a>
                    </li>

                    <li class="layui-nav-item layui-hide-sm">
                        <a href="javascript:;">
                            <i class="layui-icon" style="font-size: 20px;">&#xe653;</i>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="/">首页</a></dd>
                            <dd><a href="{{ url_for('blog.record') }}">归档</a></dd>
                            <dd><a href="{{ url_for('blog.note') }}">笔记</a></dd>
                            <dd><a href="{{ url_for('blog.message') }}">留言</a></dd>
                            <dd><a href="{{ url_for('blog.about') }}">关于</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </header>
    {% endblock header %}

    {% block content %}
    {% endblock %}

    {% block footer %}
        <footer class="footer">
            <p>Copyright &nbsp;&copy;&nbsp; 2023&nbsp;&nbsp;Bei-Feng</p>
        </footer>
    {% endblock %}

    {% block script %}
    {% endblock %}
{% endblock body %}
</body>
</html>